<div class="panel panel-product">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#product-hot" data-toggle="tab">热卖产品</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="product-hot">
		<%- if products.length > 0 -%>
			<ul class="list-group">
			<%- products.each do |product| -%>
				<a href="/products/<%= product.id %>">
			  		<li class="list-group-item">
						<p class="center"><%= image_tag(product.images.first.url(:small), size: "128x128") %></p>
			            <p class="center"><%= product.title %></p>
			            <!-- <p class="center vip-price">¥ <%#= product.price %></p> -->
				    </li>
				</a>
		  	<%- end -%>
			</ul>
		<%- else -%>
			<p class="no-results">尽请期待！</p>
		<%- end -%>
		</div>
	</div>
</div>