<div class="panel panel-product">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#product-info" data-toggle="tab">产品详情</a>
		</li>
		<!--
		<li>
			<a href="#product-param" data-toggle="tab">规格参数</a>
		</li>
	    -->
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="product-info">
		    <div class="detail-info">
		  		<%= raw product.description %>
			</div>
		</div>
		<!--
		<div class="tab-pane fade" id="product-param">
			<div class="detail-info">
			</div>
		</div>
	    -->
	</div>
</div>